/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .content {
    margin-top: 20px;
  }


  